body {
  background-image: radial-gradient(ellipse, #535353 -20%, #090909 50%);
  background-color: #535353;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Russo One', sans-serif;
  color: #aaafb7;

  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

body h1 {
  font-size: 48px;
  text-transform: uppercase;
}

.modal {
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  top: 48px;
  z-index: 1000;
  width: 100%;
  height: 700px;
}

.modal-content {
  text-align: center;
  margin: auto;
  width: 700px;
  height: 700px;
  border: solid 1px #30486d;
  color: black;
}

.modal-content h2 {
  font-weight: bold;
  font-size: 36px;
}

.modal-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  font-size: 36px;
}

.close-modal {
  text-transform: uppercase;
  padding: 10px 10px 0 0;
  position: fixed;
  right: calc((100% - 700px)/2);
  cursor: pointer;
  font-size: 55px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

footer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  font-size: 15px;

}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  position: fixed;
  margin: 15px;
}

footer a {
  color: #aaafb7;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
