body {
  background-image: radial-gradient(ellipse, #535353 -20%, #090909 50%);
  background-color: #535353;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Russo One', sans-serif;
  color: #aaafb7;
  
  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

body h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal {
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  top: 50px;
  z-index: 1000;
  width: 100%;
  height: 700px;
}

.modal-content {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 700px;
  height: 700px;
  border: solid 1px #30486d;
  color: black;
}

.modal-content h2 {
  font-weight: bold;
  font-size: 36px;
}

.modal-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  font-size: 36px;
}

.close-modal {
  padding: 10px 10px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 50px;
  color: white;
}
